
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #FFFFE0;
  color: #0a0a0a;
}

h1 {
	font-family: 'Rubik Glitch';font-size: 150px;
	text-align: center;
	color:rgb(5, 5, 5);
}


p {
  line-height: 1.8;
  text-align: center;
  font-size: 30px;
  color:rgb(5, 5, 5);
  font-family: 'Rubik';
}

/* Add a black background color to the top navigation */
.topnav {
	background-color:	#FFFFE0;
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #04AA6D;
	color: white;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid#FFFFE0; 
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
	background-color: #fcfce9;
	
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #fcfce9;
	color: rgb(5, 5, 5);
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker color */
  input[type=submit]:hover {
	background-color: #ffeda3;
  }
  
  /* Add a background color and some padding around the form */
  .container {
	border-radius: 5px;
	background-color: #FFFFE0;
	padding: 20px;
  }


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: rgb(5, 5, 5);
	text-align: center;
}
